/* global styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #2e2e2e;
    color: #f1f1f1;
}

button {
    background-color: #3f3f3f;
    border: 1px solid white;
    padding: 1px 4px;
}

.dark-text {
color:#5a5e64;
}